
.logo {
    font-size: 2em;
    font-weight: bolder;
    color: #f8f9fa;
  }
  .bg-header{
 /* background-color: rgb(50 49 49 / 95%);*/
 background-color:#1a1919;
}
  .bg-navbar{
  background-color:#1a1919;
  }
  
/*Iconos*/
.bi-person-circle,.bi-cart-fill{
  font-size: 2em !important;
  cursor: pointer;
}


.logout,.person{
  color:#dc3545;
}
.navbar-toggler-icon{
  filter: invert(100%);
  }
.botonMenu{
  border:1px solid #dc3545;
  outline: none;
}
.botonMenu:focus{
  border:1px solid #dc3545;
  box-shadow: none;
}

.position-relative {
  position: relative;
}

.autocomplete-results {
  position: absolute;
  top: 100%;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}
.cartas {
  width: 100%;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-image {
  width: 70px;
  height: 70px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-size: 20px;
}



@media screen and (min-width:991px){
 /*Barra RGB*/
 #rgb-bar{
  background:
  linear-gradient(45deg,rgba(255,0,0,1) 0%,rgba(255,0,255,1) 18%,rgba(0,0,255,1) 
  30%,rgba(0,240,255,1) 45%,rgba(0,255,0,1) 63%,rgba(255,255,0,1)
  80%,rgba(255,120,0,1) 90%,rgba(255,0,0,1) 100% );
  background-size: 400% 400%;
  -webkit-animation: rgbBg 20s linear infinite;
  height: 3px;
  position: relative;  
}

}

@keyframes rgbBg {
  0% {
      background-position: 400% 0%
  }

  100% {
      background-position: 0% 400%
  }
}

@-moz-keyframes rgbBg {
  0% {
      background-position: 400% 0%
  }

  100% {
      background-position: 0% 400%
  }
}

@-webkit-keyframes rgbBg {
  0% {
      background-position: 400% 0%
  }

  100% {
      background-position: 0% 400%
  }
}