<header class="container-fluid bg-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex flex-column flex-lg-row flex-wrap">
      <div class="col-lg-4">
        <div class="contenedor-logo d-flex justify-content-center">
          <a class="navbar-brand logo m-auto" routerLink="/">XTREME GAMING</a>
        </div>
      </div>
    

      <div class="col-12 col-lg-4 pt-4">
        <form class="d-flex mb-4" role="search" autocomplete="off">
          <div class="position-relative d-flex w-100">
            <input class="form-control me-2" (keyup)="obtenerProductos()" [(ngModel)]="nombreDelProducto" type="search"
              name="nombreDelProducto" placeholder="Buscar" aria-label="Search">
      
            <div class="autocomplete-results flex-grow-0" *ngIf="nombreDelProducto.length >= 3 && productosBuscados.length === 0">
              <div class="products d-flex flex-column">
                <h6 class="text-center">El producto que busca no existe</h6>
              </div>
            </div>
            
            <div class="autocomplete-results flex-grow-0" *ngIf="productosBuscados.length > 0">
              <div class="products d-flex flex-column">
                <div class="cartas" *ngFor="let product of productosBuscados">
                  <div class="product-item" routerLink="/product/{{product.id}}">
                    <img [src]="product.imagen" alt="Producto" class="product-image">
                    <div class="product-details">
                      <p class="product-name">{{ product.nombreProducto }}</p>
                      <p class="product-price text-start">${{ product.precio }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
  
        <ng-container *ngIf="!loggedIn;">
          <a routerLink="/login">
           <i class="bi-person-circle text-light cuenta d-none d-lg-inline" ></i>
         </a>
         </ng-container>
        
         <ng-container *ngIf="loggedIn">
        <button mat-button [matMenuTriggerFor]="menu" id="usuarioButton" class="text-light d-none d-lg-inline">{{usuario?.displayName}}
          <span><mat-icon aria-hidden="false" class="text-light" aria-label="Example home icon" fontIcon="arrow_drop_down"></mat-icon></span>
        </button>
      </ng-container>
  
        <mat-menu #menu="matMenu">
          <button mat-menu-item><mat-icon aria-hidden="false" class="person" aria-label="Example home icon" fontIcon="person"></mat-icon>Mi cuenta</button>
          <button mat-menu-item (click)="borrarSesion()"><mat-icon aria-hidden="false" class="logout" aria-label="Example home icon" fontIcon="logout"></mat-icon>
            Cerrar sesión</button>
        </mat-menu>
        <a routerLink="/carrito" mat-icon-button >
          <mat-icon
            [matBadge]="carrito.cantidadItems"
            [matBadgeHidden]="!carrito.cantidadItems"
            matBadgeColor="warn"
            [ngStyle]="{'color':'white'}"
            >shopping_cart</mat-icon
          >
        </a>

      </div>
      
      <button class="navbar-toggler align-self-start botonMenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
 
      <div class="collapse navbar-collapse align-self-start col-lg-12 nav-menu" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex m-auto">
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="'/productos'">Productos</a>
          </li>
  
          <li class="nav-item" *ngIf="loggedIn; else notLogged">
            <a class="nav-link text-light d-lg-none" routerLink="/login">{{usuario?.displayName}}</a>
          </li>
  
          <ng-template #notLogged>
          <li class="nav-item">
            <a class="nav-link text-light d-lg-none" routerLink="/login">Iniciar sesión</a>
          </li>
        </ng-template>

          <li class="nav-item">
            <a class="nav-link text-light d-lg-none" href="/carrito">Mi carrito</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>
