<header class="container-fluid bg-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex flex-column flex-lg-row flex-wrap">
      <div class="col-lg-4">
        <div class="contenedor-logo d-flex justify-content-center">
          <a class="navbar-brand logo m-auto" routerLink="/">XTREME GAMING</a>
        </div>
      </div>
    
      <div class="col-12 col-lg-4 pt-4">
        <form class="d-flex mb-4" role="search">
          <input class="form-control input-busqueda mr-sm-2 w-75  m-auto" type="search" placeholder="Buscar producto..."
          aria-label="Search">
          <button class="btn boton-buscar d-none d-lg-flex bg-danger text-light" type="submit">Buscar</button>
        </form>
      </div>
  
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
  
        <ng-container *ngIf="!loggedIn;">
          <a routerLink="/login">
           <i class="bi-person-circle text-light cuenta d-none d-lg-inline" ></i>
         </a>
         </ng-container>
        
         <ng-container *ngIf="loggedIn">
        <button mat-button [matMenuTriggerFor]="menu" class="text-light d-none d-lg-inline">{{usuario?.displayName}}
          <span><mat-icon aria-hidden="false" class="text-light" aria-label="Example home icon" fontIcon="arrow_drop_down"></mat-icon></span>
        </button>
      </ng-container>
  
        <mat-menu #menu="matMenu">
          <button mat-menu-item><mat-icon aria-hidden="false" class="person" aria-label="Example home icon" fontIcon="person"></mat-icon>Mi cuenta</button>
          <button mat-menu-item (click)="borrarSesion()"><mat-icon aria-hidden="false" class="logout" aria-label="Example home icon" fontIcon="logout"></mat-icon>
            Cerrar sesión</button>
        </mat-menu>
      
        <a routerLink="/cart"> <i class="bi-cart-fill mx-4 text-light d-none d-lg-inline"></i></a>
      </div>
      <div id="rgb-bar"></div>
      <button class="navbar-toggler align-self-start botonMenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
     
      <div class="collapse navbar-collapse align-self-start col-lg-12 nav-menu" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex m-auto">
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Tienda</a>
          </li>
  
          <li class="nav-item" *ngIf="loggedIn; else notLogged">
            <a class="nav-link text-light d-lg-none" routerLink="/login">{{usuario?.displayName}}</a>
          </li>
  
          <ng-template #notLogged>
          <li class="nav-item">
            <a class="nav-link text-light d-lg-none" routerLink="/login">Iniciar sesión</a>
          </li>
        </ng-template>

          <li class="nav-item">
            <a class="nav-link text-light d-lg-none" href="#">Mi carrito</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
 
  <!-- La barra que oculta hasta que se resuelva porque no se funciona x encima del nav
  <div id="rgb-bar"></div>
  -->
  <!-- <div class="row bg-dark">
    <div id="rgb-bar"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2">
              <a class="nav-link text-light mt-3 mb-2 " routerLink="/productos" routerLinkActive="router-link-active" >Productos</a>
            </li>
            <li class="nav-item mt-lg-3 mx-2 ">
              <a class="nav-link text-light mb-2 " routerLink="/ayuda" routerLinkActive="router-link-active" >Ayuda</a>
            </li>
            <li class="nav-item mt-lg-3 mx-2">
              <a class="nav-link text-light" routerLink="/contacto" routerLinkActive="router-link-active" >Contacto</a>
            </li>
          </ul>       
        </div>
      </div>
    </nav>
  </div> -->
</header>
