<div *ngIf="this.carrito.listaProductos.length == 0 ">
    <div class="text-center m-5">
      <h3>Tu carrito esta vacio.</h3>
      <a routerLink="/" class="text-decoration-none btn btn-secondary">Empieza a comprar</a>
    </div>
  </div>
  <section class="h-100 h-custom align-items-center justify-content-center" *ngIf="carrito.listaProductos.length != 0">
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center mb-5">
            <h1 class="fw-bold mb-0 tituloprincipal">Carrito</h1>
            <button type="button" class="btn btn-danger" (click)="clearCart()">Vaciar carrito</button>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-lg-1 "scope="col"></th>
                  <th class="col-lg-4" scope="col">Producto</th>
                  <th class="col-lg-2 text-center" scope="col">Cantidad</th>
                  <th class="col-lg-2" scope="col">Precio unitario</th>
                  <th class="col-lg-2" scope="col">Subtotal</th>
                  <th class="col-lg-2" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let cartProduct of carrito.listaProductos">
                  <td>
                    <img [src]="cartProduct.producto.imagen" class="img-fluid d-none d-lg-flex" width="100px" [alt]="cartProduct.producto.nombreProducto">
                  </td>
                  <td>
                    <h6 class="text-black mb-0">{{ cartProduct.producto.nombreProducto }}</h6>
                  </td>
                  <td class="">
                    <div class="d-flex justify-content-between align-items-center">
                      <button class="btn btn-link px-2" (click)="decrementQuantity(cartProduct)">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input id="form1" min="1" name="quantity" [(ngModel)]="cartProduct.cantidad"
                        class="form-control form-control-sm" (ngModelChange)="onQuantityChange(cartProduct)" />
                      <button class="btn btn-link px-2" (click)="incrementQuantity(cartProduct)">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td class="">
                    <h6 class="mb-0 text-end  ">$ {{ cartProduct.producto.precio }}</h6>
                  </td>
                  <td>
                    <h6 class="mb-0 text-end ">$ {{ getTotalProductCost(cartProduct) }}</h6>
                  </td>
                  <td>
                    <a (click)="removeFromCart(cartProduct)" class="text-danger"><i class="fas fa-times"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
        <div class="p-5 col-12 col-lg-4">
          <h3 class="fw-bold  pt-1">RESUMEN</h3>
          <hr class="my-4">
  
          <div class="d-flex justify-content-between mb-4">
            <h5 class="text-uppercase">Subtotal</h5>
            <h5>$ {{ getTotalFromProductsInCart() }}</h5>
          </div>
  
          <div class="d-flex justify-content-between mb-4">
            <h5 class="text-uppercase">Envío</h5>
            <h5 name="envio" value="0">$ 400</h5>
          </div>
  
          <hr class="my-4">
  
          <div class="d-flex justify-content-between mb-5">
            <h5 class="text-uppercase">Total</h5>
            <h5>$ {{ getTotalCost() }}</h5>
          </div>
          <ng-container *ngIf="usuario; else usuarioNoLogueado">
            <a routerLink="/checkout" class="btn btn-danger d-block m-auto">Continuar</a>
          </ng-container>
          <ng-template #usuarioNoLogueado>
           <p>Para continuar con la compra inicie sesión</p>
            <a routerLink="/login" class="btn btn-danger d-block m-auto">Iniciar Sesión</a>
          </ng-template>
          
        </div>
      </div>
    </div>
  </section>
  
