<footer class="bg-footer container-fluid p-4">
    <div class="container d-flex justify-content-between">
        <div class="col-lg-4">
            <p class="text-light">XTREME GAMING</p>
        </div>
        <div class="col-lg-4">
            <p class="text-light text-center">Seguinos en</p>
            <div class="container d-flex justify-content-center">
                    <i class="bi bi-twitter text-light mx-2"></i>
                    <i class="bi bi-twitch text-light mx-2"></i>
                    <i class="bi bi-facebook text-light mx-2"></i>
                    <i class="bi bi-youtube text-light mx-2"></i>
                    <i class="bi bi-instagram text-light mx-2"></i>
                    <i class="bi bi-linkedin text-light mx-2"></i>
            </div>
        </div>
        <div class="col-lg-4">
            <p class="text-light">contenido</p>
        </div>
    </div>
</footer>