<main class="container d-flex flex-wrap pb-5 pt-5">
  <div class="col-lg-7 mt-2 m-auto">
    <img src = {{producto.imagen}} alt="..." />
  </div>
  <div class="col-lg-5 text-center text-lg-start m-auto mt-3">
    <h4 class="nombre-producto">{{producto.nombreProducto}}</h4>
    <div class="container pt-3 pb-3">
      <mat-chip class="pildora" role="option">ID : {{producto.id}}</mat-chip>
      <mat-chip class="pildora mx-2" role="option">MARCA: {{producto.marca}}</mat-chip>
    </div>
    <div class="container border-top border-secondary">
      <div class="col-lg-6">
        <h6 class="mt-4">PRECIO ESPECIAL</h6>
        <h4 class="mt-2 precio">${{producto.precio}}</h4>
      </div>
    </div>
    <div class="container border-top border-bottom border-secondary containerInfo">
      <p class="text-success mt-4 ml-5">
        <i class="fas fa-shield-alt" style="color: #31832f"></i> Garantia - 12
        meses
      </p>
      <p class="text-success">
        <i class="fas fa-check" style="color: #31832f"></i> Stock disponible
      </p>
      <p class="text-success mb-3">
        <i class="fas fa-truck" style="color: #31832f"></i> Envios a todo el
        pais.
      </p>
    </div>
    <button class="btn btn-danger my-4" (click)="agregarCarrito(producto)">AGREGAR AL CARRITO</button>
  </div>
  <section class="container-fluid mt-4">
    <mat-tab-group>
      <mat-tab label="ESPECIFICACIONES">
        <div class="container mt-2" >
          <div class="row">
            <div class="col-lg-6">
              <h6 class="border-secondary mb-3 border-bottom mt-4">
                CARACTERISTICAS GENERALES
              </h6>
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let characteristicsProduct of characteristicsProducts">
                    <th scope="row">{{ characteristicsProduct.detalle }}</th>
                    <td>{{ characteristicsProduct.color }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-lg-6" >
              <h6 class="border-secondary mb-3 border-bottom mt-4">
                RENDIMIENTO
              </h6>
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let detailsProduct of detailsProducts">
                    <th scope="row">{{ detailsProduct.detalle }}</th>
                    <td>{{ detailsProduct.color }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="PREGUNTAS" class="border-bottom border-secondary">
        <div class="consulta-form mt-2">
          <h2 class="pt-2 pb-2">¿Tenés preguntas sobre este producto?</h2>
          <p>Escribi tu pregunta</p>
          <form [formGroup]="consultaForm"  class="formulario-consulta" (ngSubmit)="enviarConsulta()">
            <div class="form-group">
              <textarea name="content" formControlName="content" rows="4" placeholder="Escribe tu consulta aquí" class="form-control"></textarea>
            </div>
            <button class="btn btn-danger enviar-consulta" [disabled]="consultaForm.invalid" type="submit">Enviar consulta</button>
          </form>
        </div>
      
        <div class="reviews d-flex justify-content-between flex-wrap">
          <div class="review" [(ngModel)]="questionDTO" *ngFor="let consulta of questionDTO">
            <div class="review-name  mb-2">{{consulta.name }} <span class="text-secondary fecha-Consulta">{{consulta.fecha | date:'dd/MM/YYYY HH:mm'}}</span></div>
            <div class="review-comment">{{ consulta.content }}</div>
           
            <button class="btn btn-link text-end" (click)="responderConsulta(consulta)" *ngIf='!consulta.respondido && isAdmin'>Responder</button>
            <div *ngIf="consultaSeleccionada?.idQuestion === consulta.idQuestion">
              
              <form [formGroup]="respuestaForm" *ngIf="mostrarFormularioRespuesta" (ngSubmit)="enviarRespuesta(consulta.idQuestion)" class="formulario-respuesta mt-2">
                <textarea formControlName="content" name="content" rows="4" placeholder="Escribe tu respuesta aquí" class="form-control"></textarea>
                <button class="btn btn-danger mt-3 enviar-respuesta" >Enviar respuesta</button>
              </form>
            </div>
            <div *ngIf="consulta.respondido" class="container-fluid admin-info mt-3">
              <img class="admin-photo" src="../../../assets/adminPhoto.png" alt="">
              <div class="respuesta-info">
                <div class="review-name mb-2"> [ADMIN] {{consulta.respuesta.name}}<span class="respuesta-fecha text-end">{{ consulta.respuesta.fecha | date: 'dd/MM/yyyy HH:mm' }}</span>
                </div>
                <p class="respuesta-texto respuesta-mensaje">{{ consulta.respuesta.content }}</p>
              </div>
            </div>
          </div>  
        </div>
      </mat-tab>
      
      <mat-tab label="RESEÑAS">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Realizar Reseña</button>
        <div class="reviews d-flex flex-wrap justify-content-between ">
          <div class="review col-lg-4 col-md-6 col-12" *ngFor="let resenia of reseniasDTO">
            <div class="review-name mb-2">{{ resenia.name }}</div>
            <div class="review-rating mb-3">
              <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
                <i class="fa fa-star" [ngClass]="{'filled': resenia.rating >= i}"></i>
              </ng-container>
            </div>
            <div class="review-comment">{{ resenia.comment }}</div>
          </div>
        </div>
        
      
      </mat-tab>
    </mat-tab-group>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Dejanos tu reseña</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="reseniaForm" (ngSubmit)="agregarResenia();cerrarModal();">
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" formControlName="nombre" name="name" required>
                <div *ngIf="reseniaForm.get('nombre')?.invalid && reseniaForm.get('nombre')?.touched" class="invalid-feedback">
                  Nombre es requerido.
                </div>
              </div>
              <div class="form-group">
                <label for="rating">Calificación:</label>
                <select id="rating" formControlName="calificacion" name="rating" required>
                  <option value="5">5 Estrellas</option>
                  <option value="4">4 Estrellas</option>
                  <option value="3">3 Estrellas</option>
                  <option value="2">2 Estrellas</option>
                  <option value="1">1 Estrella</option>
                </select>
                <div *ngIf="reseniaForm.get('calificacion')?.invalid && reseniaForm.get('calificacion')?.touched" class="invalid-feedback">
                  Calificación es requerida.
                </div>
              </div>
              <div class="form-group">
                <label for="comment">Comentario:</label>
                <textarea id="comment" formControlName="comentario" name="comment" required></textarea>
                <div *ngIf="reseniaForm.get('comentario')?.invalid && reseniaForm.get('comentario')?.touched" class="invalid-feedback">
                  Comentario es requerido.
                </div>
              </div> 
              <button class="btn btn-danger d-flex m-auto" [disabled]="reseniaForm.invalid" type="submit">Enviar Reseña</button>      
            </form>
            
          </div>
          <div class="modal-footer">
           
          </div>
        </div>
      </div> 
    </div>
  </section>
</main>