<header class="container-fluid pt-4 bg-header">
  <div class="row d-lg-flex flex-lg-nowrap">
    <div class=" col-lg-4 col-xl-4 ml-4 d-flex ">
      <a class="navbar-brand logo m-auto" routerLink="/">XTREME GAMING</a>
    </div>

    <div class="col-lg-5  mb-3 col-xl-4 ml-xl-5 pt-xl-3 mt-xl-4 mr-1 mt-4">
      <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control input-busqueda mr-sm-2 w-75 m-auto" type="search" placeholder="Buscar producto..."
          aria-label="Search">
        <button class="btn bg-danger text-light boton" type="submit"><i class="fas fa-search" id="boton"></i></button>
      </form>
    </div>
  </div>
  
  <div class="row bg-dark">
    <div id="rgb-bar"></div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link text-light mt-3 mb-2" routerLink="/productos" routerLinkActive="router-link-active" >Productos</a>
            </li>
            <li class="nav-item mt-lg-3">
              <a class="nav-link text-light mb-2" routerLink="/productos" routerLinkActive="router-link-active" >Mi cuenta</a>
            </li>
            <li class="nav-item mt-lg-3">
              <a class="nav-link text-light" routerLink="/contacto" routerLinkActive="router-link-active" >Contacto</a>
            </li>
          </ul>       
        </div>
      </div>
    </nav>
  </div>
</header>
