.botonComprar,.botonVerMas{
font-weight: 500;
}

.cardExpand{
    width: 500px !important;
}
.btn-ver{
    background-color: rgb(241, 179, 179);
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}
.card-precio{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}