<div class="container mt-5 mb-5">
        <div class="row d-flex flex-wrap">

            <div class="col-lg-6">
                
                <mat-card>
                    <h5 class="pb-2 text-center"><span class="material-icons">shopping_bag </span>Mis Compras</h5>
                    <mat-card-content class="mt-3" *ngFor="let compra of compras">
                        <mat-card>
                            <mat-card-header class="d-flex flex-column align-items-start">
                                <div>
                                    <mat-card-title class="d-flex">Numero de Compra : {{compra.nroCompra}}</mat-card-title>
                                    <mat-card-subtitle>Monto: ${{compra.monto}}</mat-card-subtitle>
                                </div>
                              
                              <div>
                              <h6 class="text-end">Fecha: {{compra.fechaCompra | date:'dd/MM/YYYY'}}</h6>
                            </div>
                            </mat-card-header>
                            <mat-card-actions align="end">
                              <button type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#' + compra.nroCompra" class="btn btn-danger">VER DETALLE</button>
                              <div class="modal fade" id="{{compra.nroCompra}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content modal-expanded">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Productos Comprados</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      
                                      <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th class="col-lg-2 "scope="col"></th>
                                              <th class="col-lg-6 text-center" scope="col">Producto</th>
                                              <th class="col-lg-2 text-center" scope="col">Cantidad</th>
                                              <th class="col-lg-2 text-center" scope="col">Precio unitario</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr  *ngFor="let productoComprado of compra.productos">
                                              <td>
                                                <img [src]="productoComprado.producto.imagen" class="img-fluid d-none d-lg-flex" width="100px" [alt]="productoComprado.producto.nombreProducto">
                                              </td>
                                              <td>
                                                <h6 class="text-black text-center mt-3 mb-0">{{productoComprado.producto.nombreProducto}}</h6>
                                              </td>
                                              <td class="">
                                               <h6 class="mb-0 text-center">{{productoComprado.cantidad}}</h6>
                                              </td>
                                              <td class="">
                                                <h6 class="mb-0 text-center ">$ {{productoComprado.producto.precio}}</h6>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <h5 class="mb-0 text-center text-danger"> PRECIO TOTAL : ${{compra.monto}}</h5>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-card-actions>
                          </mat-card>
                    </mat-card-content>
                  </mat-card>
                  
            </div>
            <div class="col-lg-6 mt-2">           
                <mat-card class="w-100 w-lg-75">
                    <h5 class="pb-2 text-center"><span class="material-icons">
                        check_circle_outline
                        </span>Mi Información</h5>
                    <mat-card-content class="mt-3">
                        <mat-card>
                
                                <div class="col-lg-6">
                                    <mat-card-title>Nombre: {{usuario.displayName}}</mat-card-title>
                                    <mat-card-subtitle>Correo Electronico: {{usuario.email}}</mat-card-subtitle>
                                </div>
                          </mat-card>
                    </mat-card-content>
                  </mat-card>
            </div>
          </div>
</div>

