
<mat-card *ngFor="let item of slides;" class="my-5 bg-light w-75 pb-4">
  <div class="container d-flex ">
    <div class="col-lg-5">
  <img src="https://www.fullh4rd.com.ar/img/productos/Pics_Prod/auriculares-corsair-gaming-hs35-green-0.jpg"
  class="card-img-top img-fluid" alt="...">
</div>
<mat-card-header>
  <mat-card-title>
    <h4>Auriculares Razer</h4>
  </mat-card-title>
  <mat-card-subtitle>
    <h6>$50000</h6>
  </mat-card-subtitle>
  </mat-card-header>
</div>
<mat-card-actions>
  <button class="btn btn-danger" mat-button>AGREGAR AL CARRITO</button>
</mat-card-actions>
 
</mat-card>