/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(56, 54, 54);
}

.owl-prev {
  position: absolute;
  background-color: #dc3545 !important;
  color: white !important;
  left: -5%;
  width: 80px;
  border-radius: 50% !important;
  top: 35%;
  font-size: 3em !important;
}
.owl-prev span {
  position: relative;
  top: -0.1em;
}

.owl-next {
  position: absolute;
  background-color: #dc3545 !important;
  color: white !important;
  right: -5%;
  width: 80px;
  border-radius: 50% !important;
  top: 35%;
  font-size: 3em !important;
}

.owl-next span {
  position: relative;
  top: -0.1em;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots span{
    background-color: #dc3545;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;

}

