/* You can add global styles to this file, and also import other style files */

.owl-prev{
background-color: green !important;
border-radius: 50%;
width: 50px;
}
.owl-next{
    background-color: yellow !important;
    width: 50px;
    border-radius: 50%;

}
